<%- include("01.header.ejs") %>
  
    <div class="row bg-white mt-4">
        <h3 style="font-family:  sans-serif;" class="text-secondary">Update Skill page </h3>
           <h4 class="text-dark">Front-end Development skill</h4>
        <div class="col-md-12 " style="border-radius: 20px;box-shadow: inset 0px 0px 10px black;">
            <form action="/admin/update_skill_page" method="post" enctype="multipart/form-data">
                <div class="row p-2">
                     <div class="col">
                        <label class="mb-2 pt-2 text-dark">ID</label>
                        <input type="text" class="form-control border border-danger" name="id"
                            value="<%= result.id %>">
                    </div>
                    <div class="col">
                        <label class="mb-2 pt-2 text-dark">Front skill Title</label>
                        <input type="text" class="form-control border border-danger" name="skill_f_title"
                            value="<%= result.skill_f_title %>">
                    </div>
                    <div class=" col">
                        <label class="mb-2 pt-2 text-dark">technologies</label>
                        <input type="text" class="form-control border border-danger" name="skill_f_technology"
                            value="<%= result.skill_f_technology %>">
                    </div>
                    <div class="col">
                        <label class="mb-2 pt-2 text-dark">progress bar Rang</label>
                        <input type="number" class="form-control border border-danger" name="skill_f_pro_bar_rang"
                            value="<%= result.skill_f_pro_bar_rang %>">
                    </div>

                    <div class="col">
                        <label class="mb-2 pt-2 text-dark">technologies Decript</label>
                        <input type="text" class="form-control border border-danger" name="skill_f_Decript"
                            value="<%= result.skill_f_Decript %>">
                    </div>

                        <div class="row p-2">
                            <div class="col text-center">
                                <button class="btn btn-success mt-2">Update skill Page</button>
                            </div>
                        </div>

                </div>
            </form>
        </div>
    </div>


    

<%- include("02.footer.ejs") %>