<%- include("01.header.ejs") %>

   <div class="row bg-white mt-5">
        <h3 style="font-family:  sans-serif;" class="text-secondary">Reviews update page </h3>
        <h4 class="text-dark">Lets update Reviews</h4>
        <div class="col-md-12 " style="border-radius: 20px;box-shadow: inset 0px 0px 10px black;">
            <form action="/admin/reviews_update_page" method="post" enctype="multipart/form-data">


                <div class="row p-2">

                    <div class="col">
                        <label class="mb-2 pt-2 text-dark">Reviews Titile</label>
                        <input type="text" class="form-control border border-danger" name="id" required
                        value="<%= result.id %>" hidden >

                        <input type="text" class="form-control border border-danger" name="reviews_title" required
                            value="<%= result.reviews_title %>">
                    </div>
                </div>
                <div class="row p-2">
                    <div class=" col">
                        <label class="mb-2 pt-2 text-dark">Reviews Person Description</label>
                        <textarea class="form-control border border-danger" required name="reviews_person_Descript"
                            required><%= result.reviews_person_Descript %></textarea>

                    </div>
                </div>

                <div class="row p-2">
                    <div class="col text-dark">
                        <label class="mb-2 pt-2 text-dark">Reviews Photo</label>
                        <input type="file" class="form-control border border-danger" name="reviews_photo">
                    </div>

                    <div class="col text-dark">
                        <label class="mb-2 pt-2 text-dark">Reviews Person Name</label>
                        <input type="text" class="form-control border border-danger" name="reviews_person_name"
                        value="<%= result.reviews_person_name %>">
                    </div>

                     <div class="col text-dark">
                            <label class="mb-2 pt-2 text-dark">Reviews Position</label>
                            <input type="text" class="form-control border border-danger" name="reviews_position"
                            value="<%= result.reviews_position %>">
                        </div>
                </div>


                <div class="row p-2">
                    <div class="col text-center">
                        <button class="btn btn-success mt-2">reviews update Page</button>
                    </div>
                </div>

        </div>
        </form>
    </div>
    </div>

  <%- include("02.footer.ejs") %>